<%= form_with(model: stock) do |form| %>
  <% if !stock.nil?%>
    <% if stock.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(stock.errors.count, "error") %> Unable to find stock:</h2>

        <ul>
          <% stock.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol %>
  </div>
  <div class="field">
    <%= form.label :region %>
    <%= form.select(:region, options_for_select([
      ['US','us'],
      ['BR','br'],
      ['AU','au'],
      ['CA','ca'],
      ['FR','fr'],
      ['DE','de'],
      ['HK','hk'],
      ['IN','in'],
      ['IT','it'],
      ['ES','es'],
      ['GB','gb'],
      ['SG','sg']
      ])) %>
  </div>
  <div class="field">
    <%= form.label :range %>
    <%= form.select(:range, options_for_select([
      ['1 day', '1d'],
      ['5 day', '5d'],
      ['1 month', '1mo'],
      ['3 months', '3mo'],
      ['6 months', '6mo'],
      ['1 year', '1y'],
      ['2 years', '2y'],
      ['5 years', '5y'],
      ['10 years', '10y'],
      ['year to date', 'ytd'],
      ['max', 'max']])) %>
  </div>

  <div class="actions">
    <%= form.submit  "Search"%>
  </div>
<% end %>
